*{
  background-color: #101720;
}
.my-svg{
  width: 100px;
  height: 100px;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-svg {
  width: 60px;
  height: 60px;
  color: #101720;
}
.text-container {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  width: 170px;
  position: relative;
  color: white;
  padding: 50px;
  font-weight: bold;
}

  .my-svg {
    background: none; /* Remove any background */
  }


